<div class="form-container" *ngIf="userRole === 'farmer'">
  <h2>Hi Farmer!</h2>
  <p>Click below to add a product:</p>

  <form (ngSubmit)="createProduct()">
    <input type="text" placeholder="Product Name" [(ngModel)]="product.name" name="name" required />
    <input type="text" placeholder="Description" [(ngModel)]="product.description" name="description" />
    <input type="number" placeholder="Price" [(ngModel)]="product.price" name="price" required />
    <button type="submit">Add Product</button>
  </form>
</div>

<div class="form-container" *ngIf="userRole === 'buyer'">
  <h2>Hi Buyer!</h2>
  <p>Click below to view products:</p>
  <button (click)="goToProducts()">View Products</button>
</div>
